/**
 * Components / Pagination
 */


.c-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-20);
}


.c-pagination__button-arrow {
  width: var(--space-40);
  height: var(--space-40);
  display: grid;
  place-items: center;

  color: var(--color-blue);
  background-color: var(--color-grey-300);
  border-radius: var(--borderRadius-max);

  transition: all var(--duration-200);

  svg {
    width: var(--space-24);
    height: var(--space-24);
  }

  &.--previous {
    transform: rotate(180deg);
  }

  &.--disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
  }
}


.c-pagination__bullets {
  display: flex;
  gap: var(--space-8);
  align-items: center;
}


.c-pagination__button-bullet {
  width: var(--space-16);
  height: var(--space-16);

  background-color: var(--color-grey-300);
  border-radius: var(--borderRadius-max);
  transition: all var(--duration-200);

  &.--active-page {
    background-color: var(--color-blue);
  }

  &:hover {
    background-color: var(--color-blue);
  }
}
