/**
 * Components / QR code modal
 */

.c-qr {
	position: fixed;
	inset: 0;
	background: rgba(255,255,255,0.97);

	z-index: var(--zindex-aboveMenu);

	display: grid;
	place-items: center;

	transition: opacity var(--duration-400) ease-in-out;

	&.--is-hidden {
		opacity: 0;
		pointer-events: none;
	}
}


.c-qr__contents {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: var(--space-24);
}


.c-qr__dialogue-title {
  font-family: var(--fontFamily-mono);
  color: var(--color-blue);
  text-transform: uppercase;
	text-align: center;
}


.c-qr__element-title {
  margin-top: var(--space-12);

  font-size: var(--fontSize-40);
  font-weight: 900;
	text-align: center;
  letter-spacing: -0.025em;

  @media (min-width: 768px) {
    flex-grow: 1;
  }

  @media (min-width: 1024px) {
    margin-top: var(--space-8);

    font-size: var(--fontSize-48);
  }
}


.c-qr__image-wrapper {
	margin-top: var(--space-32);
	display: block;
	width: 100%;
	max-width: var(--space-320);
	aspect-ratio: 1 / 1;
	padding: var(--space-24);

	border: 1px solid var(--color-grey-400);
	background-color: white;

	canvas {
		display: none;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.c-qr__anchor {
	display: block;
	margin-top: var(--space-40);

	font-family: var(--fontFamily-mono);
	font-size: var(--fontSize-14);
	color: var(--color-blue);

	transition: color var(--duration-200);

	&:hover {
		color: var(--color-grey-900);
	}
}


.c-qr__hide {
  position: absolute;

  top: var(--space-16);
  right: var(--space-16);

  transition: color var(--duration-200);

  &:hover {
    cursor: pointer;
    color: var(--color-blue);
  }

  svg {
    width: var(--space-32);
    height: var(--space-32);
  }
}
