/**
 * Views / Editor
 */


.v-editor__iframe {
  position: fixed;
  inset: var(--space-56) 0 0 0;
  width: 100%; /* Strange conflict */
  height: calc(100% - var(--space-56)); /* Strange conflict */
}


.v-editor__puzzle-list {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--zindex-behindMenu);
  padding-top: var(--space-56);

  transform: translateY(-100%);

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-300);
  transition: transform var(--duration-600) ease-in-out;

  &.--is-visible {
    transform: translateY(0%);
  }
}





/* Top */


.v-editor__puzzle-list-top {
  margin-top: var(--space-32);

  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--space-32);
}


.v-editor__puzzle-list-title {
  font-size: var(--fontSize-32);
  font-weight: 900;
  letter-spacing: -0.04em;
  text-wrap: balance;

  @media (min-width: 1280px) {
    font-size: var(--fontSize-40);
  }
}


.v-editor__puzzle-list-tutorials {
  margin-top: var(--space-6);

  display: flex;
  align-items: center;
  gap: var(--space-4);

  transition: color var(--duration-200);

  svg {
    width: var(--space-24);
    height: var(--space-24);
    color: var(--color-blue);
  }

  &.--disabled svg .check {
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
    color: var(--color-blue);
  }
}


.v-editor__puzzle-list-tutorials-text {
  font-family: var(--fontFamily-mono);
  font-size: var(--fontSize-16);
}





/* Slider */


.v-editor__puzzle-list-slider {
  padding: var(--space-24) 0 var(--space-12);
}


.v-editor__puzzle-list-controls-wrapper {
  margin-top: var(--space-16);

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.v-editor__puzzle-list-pagination {
  width: unset !important;

  .swiper-pagination-bullet {
    width: var(--space-12);
    height: var(--space-12);
  }
}


.v-editor__puzzle-list-control {
  width: var(--space-40);
  height: var(--space-40);
  display: grid;
  place-items: center;

  border: none;
  color: var(--color-blue);
  background-color: var(--color-grey-300);
  border-radius: var(--borderRadius-max);

  transition: all var(--duration-200);

  svg {
    width: var(--space-24);
    height: var(--space-24);
  }

  &.--previous {
    transform: rotate(180deg);
  }

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &:hover {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-blue);
  }
}
